<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ajouter Album</title>
    <script src="https://cdn.tailwindcss.com"></script>

</head>
<body class="bg-violet-100 w-screen flex flex-col gap-4 justify-center py ">
    <div class="flex justify-center items-center">
        <h1 class="text-3xl text-violet-500 font-bold">Ajouter un album : </h1>
    </div>

    <div class="container mx-auto my-8 mt-8">
        <form class="flex flex-col gap-5 justify-center py" method="POST" action="/add_album">
            <label class="text-3xl text-violet-900 font-bold" for="nom_album">Nom de l'album :</label>
            <input type="text" name="nom_album" id="nom_album" required>

            <label class="text-3xl text-violet-900 font-bold" for="date_sortie">Date de sortie :</label>
            <input type="number" name="date_sortie" id="date_sortie" required>

            <label class="text-3xl text-violet-900 font-bold" for="nom_artiste">Nom de l'artiste :</label>
            <input type="text" name="nom_artiste" id="nom_artiste" required>

            <label class="text-3xl text-violet-900 font-bold" for="genre">Genre musical :</label>
            <select name="genre" id="genre" required>
                {% for genre in liste_genres %}
                    <option value="{{genre}}">{{genre}}</option>
                {% endfor %}
            </select>

            <button class="bg-violet-500 text-white py-2 px-4 rounded" type="submit">Valider</button>
        </form>
    </div>
</body>
</html>