<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page d'acceuil</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-violet-100 w-screen flex flex-col gap-4 justify-center py ">
    <div class="flex justify-center items-center">
    <h1 class="text-3xl text-violet-900 font-bold">BOOM - <span class="text-violet-500">BOOM</span></h1>
    </div>
    <div class="flex justify-center items-center">
        <h2 class="text text-violet-500 font-bold">Session utilisateur : {{pseudo_utilisateur}}</h2>
    </div>
    
    <div class="mt-10">
        <ul class="flex flex-row gap-8 justify-center py">
            <li><a class="bg-violet-500 text-white py-2 px-4 rounded" href="add_preferences">Enregistrer préférences</a></li>
            <li><a class="bg-violet-500 text-white py-2 px-4 rounded" href="add_band">Ajouter un artiste</a></li>
            <li><a class="bg-violet-500 text-white py-2 px-4 rounded" href="add_album">Ajouter un album</a></li>
            <li><a class="bg-violet-500 text-white py-2 px-4 rounded" href="add_genre">Ajouter un genre</a></li>
            <li><a class="bg-violet-500 text-white py-2 px-4 rounded" href="/">Se déconnecter</a></li>
        </ul>
    </div>
    <div>
    <div class="flex justify-center items-center">
        <h1 class="text-3xl text-violet-900 font-bold">Filtres :</h1>
    </div>
    <div class="container mx-auto my-8 mt-8">
        <form class="flex flex-row gap-3 justify-center py" method="POST"   action="/dashboard">

            <label class="text-xl text-violet-500 font-bold" for="genre">Genre musical : </label>
            <select name="genre" id="genre" required>
                    <option value="aucun">aucun</option>
                {% for genre in liste_genres %}
                    <option value="{{genre}}">{{genre}}</option>
                {% endfor %}
                
            </select><br>

            <label class="text-xl text-violet-500 font-bold" for="artist">Artiste : </label>
            <select name="artist" id="artist" required>
                    <option value="aucun">aucun</option>
                {% for artiste in liste_artistes %}
                    <option value="{{artiste}}">{{artiste}}</option>
                {% endfor %}
            </select><br>

            <label class="text-xl text-violet-500 font-bold" for="album">Album : </label>
            <select name="album" id="album" required>
                    <option value="aucun">aucun</option>
                {% for album in liste_albums %}
                    <option value="{{album}}">{{album}}</option>
                {% endfor %}
            </select><br>

            <button class="bg-violet-500 text-white py-2 px-4 rounded" type="submit">Valider</button>
        </form>
    </div>
    </div>
    <div class="container mx-auto my-8">
        <table class="min-w-full bg-white border border-teal-500">
            <thead>
                <tr class="bg-violet-500 text-white">
                    <th>utilisateur</th>
                    <th>album préféré</th>
                    <th>groupe préféré</th>
                    <th>genre préféré</th>
                </tr>
            </thead>
            <tbody>
                {% for preference in preferences_utilisateurs %}
                    <tr>
                        <td class="text-center">{{ preference[0] }}</td>
                        <td class="text-center">{{ preference[1] }}</td>
                        <td class="text-center">{{ preference[2] }}</td>
                        <td class="text-center">{{ preference[3] }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>